doctype html
html
	head
		block title
		| <link rel="preconnect" href="https://fonts.gstatic.com">
		| <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap" rel="stylesheet"> 
		style
			include ../css/base.css

			block scripts
	body
		nav#navbar
			ul
				li #[a(href='/') HOME]
				li #[a(href='/aboutus') ABOUT US]
				li #[a(href='/courses') COURSES]
				li #[a(href='/contactus') CONTACT US]
		div#header
			h1 
				block headerh1
			h3
				block headerh3

		block content

		footer#footerbar
			div#address 
				h3 ADDRESS
				p Pramod Niwas, Old Meena Bazaar, Kududand, Bilaspur (C.G), 495001
			div#author 
				h3 &copy SHEETAL PAHADI
			div#contact
				h3 CONTACT
				p 7000150649
				p sheetal992009@gmail.com