<div id="footerbar">
	<div id="address">
		<h3>ADDRESS</h3>
		<p>Pramod Niwas, Old Meena Bazaar, Kududand, Bilaspur (C.G), 495001</p>
	</div>

	<div id="author">
		<h3>&copy SHEETAL PAHADI</h3>
	</div>

	<div id="contact">
		<h3>CONTACT</h3>
		<p>7000150649</p>
		<p>sheetal992009@gmail.com</p>
	</div>
</div>