<footer id="footerbar">
	<div id="address">
		<h3>ADDRESS</h3>
		<p>Nritya Shakti Studio<br>602, Shri Sai Corporate Park,<br>Opp. Laxmi Nagar Industrial Estate, Bangur Nagar, Goregaon West, Mumbai, Maharashtra-400104</p>
	</div>

	<div id="author">
		<h3>&copy SHEETAL PAHADI</h3>
	</div>

	<div id="contact">
		<h3>CONTACT</h3>
		<p>70XXXXXX49</p>
		<p>shXXXXXXXXXXX@gmail.com</p>
	</div>
</footer>