extends base.pug
block title
	title HOME - Dance, Drama & Dreams
block scripts
	include ../css/style.css

block headerh1
	| Dance, Drama & Dreams
block headerh3
	| Living the fantasy...
block content
	div#fullbox
			div#intro
				h1 WELCOME!
				p If you're the one who can't imagine your life without music & dance, then this is the perfect place for you. Live your dreams, build them and showcase it to the entire world.
				p
					ul
						li Learn
						li Practice
						li Perform
			div#callbackform
				form(action='/submitcallback' method='post')
					div 
						h1 JOIN US!
					div
						h3 Fill up this form to get a callback from our team!	
					table
						tr
							td Name	:
							td #[input(type="text" name='name')]
						tr
							td Contact No. :
							td #[input(type='text' name='contactno')]
						tr
							td Email ID :
							td #[input(type='text' name='emailid')]
					div
						button Submit
						button Clear

	div#motto
		p We don't force you to join our training course to use the studio space.
		p You choose!
	div#choices
		div#train
			h2 Train
			p Choose to learn the techniques with our world class tutors
		div#practice
			h2 Practice
			p Choose to own our practice studio for you and your team
		div#perform
			h2 Perform
			p Choose to build your dream show in our top-class auditorium
	div#extra

