	<nav id="navbar">
		<!--<div id="logo">
			<h3>DANCE-DRAMA-DREAMS</h3>
		</div>
		-->

		<div onclick="togglemenu()" id="toggle"> 
		<hr>
		<hr>
		<hr>
		</div>
		<ul id="navbarlist">
			<a href="/"><li>Home</li></a>
			<a href="/aboutus"><li>About Us</li></a>
			<a href="/courses"><li>Courses</li></a>
			<a href="/contactus"><li>Contact Us</li></a>
			<a href="/artistcorner"><li>Artist Corner</li></a>
		</ul>
	</nav>
